body {
    background-color: #C9E2D1;
}

.special-offers {
    position: absolute;
    background: #FD5200;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 5px;
    left: -5px;
    top: 10px;
}

h6 {
    font-size: 11px;
}